<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- evitar ataques de Cross Site Scripting (injeção de dados) -->
    <meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self' 'unsafe-inline'">
    <title>Sobre</title>
    <!-- bootstrap -->
    <link rel="stylesheet" href="../public/css/bootstrap.min.css">
</head>

<body>
    <div class="container">
        <h1 class="mt-3">Electron tutorial</h1>
        <p>Professor José de Assis</p>
    </div>   

    <!-- bootstrap -->
    <script src="../public/js/bootstrap.min.js"></script>
</body>

</html>